services:
  bun:
    image: oven/bun:1-alpine
    command: dev:server
    working_dir: /usr/src/app
    user: '${UID}:${GID}'
    volumes:
      - ./:/usr/src/app

  frontend:
    image: oven/bun:1-alpine
    command: bun dev:frontend
    working_dir: /usr/src/app
    user: '${UID}:${GID}'
    volumes:
      - ./:/usr/src/app

  nginx:
    image: nginx:alpine
    ports:
      - '5173:80'
    volumes:
      # Mount your custom nginx.conf into the container.
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - bun
      - frontend
